@media only screen and (min-width:601px) and (max-width:1024px) {
    /*tablet用のcssを記述*/
    
}
   

@media screen and (max-width:600px) {
    /*スマホ用のcssを記述*/
    h1{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
    .characters{
        width: 100%;
        margin: 0 auto;
    }
    .open_button{
        width: 45%;
    }
    .movie{
        width: 100%;
        margin: 10px auto;
    }
    .movie_desc{
        width: 100%;
        margin: 10px auto;
    }
    .modal_content img{
        width: 90%;
        margin-left: 5%;
        clear: both;
    }
    .modal_content h2{
        text-align: center;
        clear: both;
        padding-top: 20px;
        margin-bottom: 10%;
    }
}